
--GalaBuilding - Trần Ngọc Long - 08110154

--DROP DATABASE GalaBuilding
CREATE DATABASE GalaBuilding
ON 
     PRIMARY (NAME = GalaBuilding_Data, 
     FILENAME = 'F:\database\GalaBuilding.MDF' , 
     SIZE = 20MB , 
     MAXSIZE = 200MB , 
     FILEGROWTH = 10MB) 
LOG ON (NAME = GalaBuilding_Log , 
     FILENAME = 'F:\database\GalaBuilding.LDB' , 
     SIZE = 10MB, 
     FILEGROWTH = 5MB) 
GO 

USE GalaBuilding

------------Loại Người dùng --------------------
CREATE TABLE LOAINGUOIDUNG
(
	MaLoaiND	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenLoaiND	NVARCHAR(30)	NOT NULL
)

INSERT INTO LOAINGUOIDUNG VALUES('LND001','Giam Doc')
INSERT INTO LOAINGUOIDUNG VALUES('LND002','Pho Giam Doc')
INSERT INTO LOAINGUOIDUNG VALUES('LND003','Quan Doc')

---------------------Người dùng---------------------
CREATE TABLE  NGUOIDUNG
(
	MaND 		VARCHAR (6) 	NOT NULL	PRIMARY KEY,
	MaLoaiND	VARCHAR (6)		NOT NULL,
	TenND		NVARCHAR (30)	NOT NULL,
	TenDangNhap	VARCHAR (20)	NOT NULL,
	MatKhau		VARCHAR (30)	NOT NULL,
	
	CONSTRAINT F_ND_LND FOREIGN KEY(MaLoaiND) 	REFERENCES LOAINGUOIDUNG(MaLoaiND)
)

INSERT INTO NGUOIDUNG VALUES('ND0001','LND001','Admin',		'admin',	'admin')
INSERT INTO NGUOIDUNG VALUES('ND0002','LND002','User',		'user',		'user')
INSERT INTO NGUOIDUNG VALUES('ND0003','LND003','User1',		'user1',	'user1')


---------------------Bảng Lưu Tài Khoản---------------------
CREATE TABLE  LUUTAIKHOAN
(
	TenDangNhap	VARCHAR (20)	NOT NULL,
	MatKhau		VARCHAR (30)	NOT NULL,
)

--------------------------------Dân Tộc----------------------------
CREATE TABLE DANTOC
(
	MaDanToc	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenDanToc	NVARCHAR (30)	NOT NULL
)

INSERT INTO DANTOC VALUES('DT0001',N'Kinh')
INSERT INTO DANTOC VALUES('DT0002',N'Chăm')
INSERT INTO DANTOC VALUES('DT0003',N'Thái')

--------------------------------Tôn Giáo--------------------------
CREATE TABLE TONGIAO
(
	MaTonGiao	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenTonGiao	NVARCHAR (30)	NOT NULL
)

INSERT INTO TONGIAO VALUES('TG0001',N'Thiên Chúa')
INSERT INTO TONGIAO VALUES('TG0002',N'Phật Giáo')
INSERT INTO TONGIAO VALUES('TG0003',N'Hồi Giáo')

---------------------Nghe nghiep------------------------
CREATE TABLE NGHENGHIEP
(
	MaNgheNghiep		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenNgheNghiep		NVARCHAR (30)	NOT NULL
)

INSERT INTO NGHENGHIEP VALUES('NN0001',N'Nội trợ')
INSERT INTO NGHENGHIEP VALUES('NN0002',N'Giáo viên')
INSERT INTO NGHENGHIEP VALUES('NN0003',N'Công nhân')

-----------------Người dân---------------------------
CREATE TABLE NGUOIDAN
(
	MaNguoiDan		VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenNguoiDan		NVARCHAR(30)	NOT NULL,
	GioiTinh		BIT,
	NgaySinh		DATETIME,
	MaDanToc		VARCHAR (6),
	MaTonGiao		VARCHAR (6),
	MaNgheNghiep	VARCHAR (6),

	CONSTRAINT FK_MaNgheNghiep	FOREIGN KEY(MaNgheNghiep)		REFERENCES NGHENGHIEP(MaNgheNghiep),
	CONSTRAINT FK_MaDanToc		FOREIGN KEY(MaDanToc)			REFERENCES DANTOC(MaDanToc),
	CONSTRAINT FK_MaTonGiao		FOREIGN KEY(MaTonGiao)			REFERENCES TONGIAO(MaTonGiao)
)

INSERT INTO NGUOIDAN VALUES ('ND0001',N'Nguyễn Văn Tèo',	0,'01/02/1989','DT0001','TG0001','NN0001')
INSERT INTO NGUOIDAN VALUES ('ND0002',N'Đặng Thị Tươi',		1,'12/03/1990','DT0002','TG0002','NN0002')
INSERT INTO NGUOIDAN VALUES ('ND0003',N'Trần Văn Tí',		0,'02/28/2002','DT0003','TG0003','NN0003')


-----------------Căn hộ---------------------------
CREATE TABLE CANHO
(
	MaCanHo			VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TangLau			INT,
	SoNguoi			INT				DEFAULT 0,
	TongPhiDichVu	INT				DEFAULT 0,	
)

INSERT INTO CANHO	(MaCanHo, TangLau)
VALUES				('CH0101',1)
INSERT INTO CANHO	(MaCanHo, TangLau)
VALUES				('CH0102',1)
INSERT INTO CANHO	(MaCanHo, TangLau)
VALUES				('CH0103',1)





-----------------Căn hộ - Người dân---------------------------
CREATE TABLE CANHO_NGUOIDAN
(
	MaNguoiDan		VARCHAR (6)		NOT NULL,
	MaCanHo			VARCHAR (6)		NOT NULL,
	
	CONSTRAINT PK_CANHO_NGUOIDAN	PRIMARY KEY(MaNguoiDan ,	MaCanHo),
	CONSTRAINT FK_MaNguoiDan		FOREIGN KEY(MaNguoiDan)		REFERENCES NGUOIDAN(MaNguoiDan) ON UPDATE CASCADE ON DELETE CASCADE,
	CONSTRAINT FK_MaCanHo			FOREIGN KEY(MaCanHo)		REFERENCES CANHO(MaCanHo)
)
GO


CREATE TRIGGER tg_CANHO_NGUOIDAN_insert ON CANHO_NGUOIDAN
FOR INSERT
AS
	DECLARE @MaCanHo VARCHAR(6)
	SELECT @MaCanHo=MaCanHo FROM INSERTED

	UPDATE CANHO
	SET SoNguoi=SoNguoi+1
	WHERE MaCanHo=@MaCanHo
GO

--DROP TRIGGER tg_CANHO_NGUOIDAN_delete 

CREATE TRIGGER tg_CANHO_NGUOIDAN_delete ON CANHO_NGUOIDAN
FOR DELETE
AS
	DECLARE @MaCanHo VARCHAR(6), @dem INT
	DECLARE @MaNguoiDan VARCHAR(6)

	SELECT @MaCanHo=MaCanHo FROM DELETED
	SELECT @dem=(SELECT COUNT(*) FROM DELETED WHERE MaCanHo=@MaCanHo)
	SELECT @MaNguoiDan=MaNguoiDan FROM DELETED

	UPDATE CANHO
	SET SoNguoi=SoNguoi-@dem
	WHERE MaCanHo=@MaCanHo

	--DELETE FROM NGUOIDAN
	--WHERE MaNguoiDan=@MaNguoiDan
GO



INSERT INTO CANHO_NGUOIDAN VALUES ('ND0001','CH0101')
INSERT INTO CANHO_NGUOIDAN VALUES ('ND0002','CH0101')
INSERT INTO CANHO_NGUOIDAN VALUES ('ND0003','CH0102')






-----------------Dịch vụ---------------------------
CREATE TABLE DICHVU
(
	MaDichVu	VARCHAR (6)		NOT NULL	PRIMARY KEY,
	TenDichVu 	NVARCHAR (10)	NOT NULL,
	DonGia		INT				NOT NULL,
)

INSERT INTO DICHVU VALUES('DV0001',N'Gửi xe'	,20000)
INSERT INTO DICHVU VALUES('DV0002',N'Đổ rác'	,25000)
INSERT INTO DICHVU VALUES('DV0003',N'Dọn dẹp'	,25000)



-----------------Căn hộ - Dịch vụ---------------------------
CREATE TABLE CANHO_DICHVU
(
	MaCanHo			VARCHAR (6)		NOT NULL,
	MaDichVu		VARCHAR (6)		NOT NULL,
	
	CONSTRAINT PK_CANHO_DICHVU	PRIMARY KEY(MaCanHo, MaDichVu),
	CONSTRAINT FK_MaDichVu2		FOREIGN KEY(MaDichVu)	REFERENCES DICHVU(MaDichVu),
	CONSTRAINT FK_MaCanHo2		FOREIGN KEY(MaCanHo)	REFERENCES CANHO(MaCanHo)
)

GO

CREATE TRIGGER tgCANHO_DICHVU_insert ON CANHO_DICHVU
FOR INSERT
AS
	DECLARE @MaCanHo VARCHAR(6)
	DECLARE @MaDichVu VARCHAR(6)
	DECLARE @DonGia INT

	SELECT @MaCanHo = MaCanHo FROM INSERTED
	SELECT @MaDichVu = MaDichVu FROM INSERTED
	SELECT @DonGia = DonGia FROM INSERTED INNER JOIN DICHVU ON INSERTED.MaDichVu=DICHVU.MaDichVu

	UPDATE CANHO
	SET TongPhiDichVu=TongPhiDichVu + @DonGia
	WHERE MaCanHo=@MaCanHo
GO

--DROP TRIGGER tg_CANHO_DICHVU_delete

CREATE TRIGGER tg_CANHO_DICHVU_delete ON CANHO_DICHVU
FOR DELETE
AS
	DECLARE @MaCanHo VARCHAR(6)
	DECLARE @MaDichVu VARCHAR(6)
	DECLARE @DonGia INT

	SELECT @MaCanHo=MaCanHo FROM DELETED
	SELECT @MaDichVu=MaDichVu FROM DELETED
	SELECT @DonGia = DonGia FROM DELETED INNER JOIN DICHVU ON DELETED.MaDichVu=DICHVU.MaDichVu
	
	UPDATE CANHO
	SET TongPhiDichVu=TongPhiDichVu - @DonGia
	WHERE MaCanHo=@MaCanHo

GO


INSERT INTO CANHO_DICHVU	(MaCanHo, MaDichVu)
VALUES						('CH0101','DV0001')

INSERT INTO CANHO_DICHVU	(MaCanHo, MaDichVu)
VALUES						('CH0102','DV0002')

INSERT INTO CANHO_DICHVU	(MaCanHo, MaDichVu)
VALUES						('CH0103','DV0003')





-----------------Chức vụ---------------------------
CREATE TABLE CHUCVU
(
	MaChucVu	VARCHAR(6)	PRIMARY KEY,
	TenChucVu	NVARCHAR(30)
)

INSERT INTO CHUCVU VALUES ('CV0001',N'NV thu phí')
INSERT INTO CHUCVU VALUES ('CV0002',N'NV an ninh')
INSERT INTO CHUCVU VALUES ('CV0003',N'NV đổ rác')

-----------------Nhân viên---------------------------
CREATE TABLE NHANVIEN
(
	MaNhanVien	VARCHAR(6) PRIMARY KEY,
	TenNhanVien	NVARCHAR(30),
	GioiTinh	BIT,
	NgaySinh	DATETIME,
	DiaChi		NVARCHAR(30),
	DienThoai	NVARCHAR(30),
	MaChucVu	VARCHAR(6),

	CONSTRAINT FK_MaChucVu FOREIGN KEY (MaChucVu) REFERENCES CHUCVU(MaChucVu)
)

INSERT INTO NHANVIEN VALUES('NV0001',N'Nguyễn Văn Toàn'	,0,'12/12/1984',N'TP.HCM'	,'0941234567','CV0001')
INSERT INTO NHANVIEN VALUES('NV0002',N'Trần Văn Giàu'	,0,'08/14/1990',N'Bến Tre'	,'0971298129','CV0002')
INSERT INTO NHANVIEN VALUES('NV0003',N'Nguyễn Thị Lựu'	,1,'11/12/1975',N'Đồng Nai'	,'0930192876','CV0003')



---------------------------Quy định-----------------------------------
CREATE TABLE QUYDINH
(
	SoNguoiToiDa			INT		NOT NULL,
	TuoiNguoiDan_Min		INT		NOT NULL,
	TuoiNguoiDan_Max		INT		NOT NULL,
	TuoiNhanVien_Min		INT		NOT NULL,
	TuoiNhanVien_Max		INT		NOT NULL
)

INSERT INTO QUYDINH VALUES(6,0,150,18,150)